{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron bg-light" style="padding: 15px 30px;">
        <h1 class="display-4" style="text-align: center;">Search For Salary Info!</h1>
        <hr class="my-4">
        <p>Simply use the drop downs to see 5 views. Currently, there's only 5 pre-defined views which you can use to query our Database.
            However, our database design can handle any other query.
        </p>
    </div>
    <div class="container-fluid">
        <div class="m-4">
            <div class="accordion" id="accordian">


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">View All Salary Data</button>									
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Entry ID</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Company Country</th>
                                        <th scope="col">Company State</th>
                                        <th scope="col">Job Name</th>
                                        <th scope="col">Employee Country</th>
                                        <th scope="col">Employee State</th>
                                        <th scope="col">Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if generalQuery is defined and generalQuery|length > 0 %}
                                        {% for entry in generalQuery %}
                                            <tr>
                                                <th scope="row">{{ entry.entryID }}</th>
                                                <td>{{ entry.companyName }}</td>
                                                <td>{{ entry.companyCountry }}</td>
                                                <td>{{ entry.companyState }}</td>
                                                <td>{{ entry.jobName }}</td>
                                                <td>{{ entry.userCountry }}</td>
                                                <td>{{ entry.userState }}</td>
                                                <td>${{ entry.salary }}</td>
                                            </tr>
                                        {% endfor%}
                                    {% else %}
                                        <th scope="row">...</th>
                                        <th>...</th>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                    {% endif %}                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Search all Salary Info for specific Job Position</button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <form method="POST" action="" class="row">
                                {{ jobQueryForm.hidden_tag() }}
                                {% if jobQueryForm.errors %}
                                <div class="invalid-feedback">
                                    {% for error in jobQueryForm.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <label for="queryJob" class="form-label">Search A Specific Job</label>
                                <div class="col-11 form-group">
                                    {% if jobQueryForm.jobName.errors %}
                                        {{ jobQueryForm.jobName(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in jobQueryForm.jobName.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ jobQueryForm.jobName(class="form-control", placeholder="Ex. Software Engineer...", style="margin-bottom:10px;") }}
                                    {% endif %}
                                </div>
                                <div class="col-1 form-group">
                                    {{ jobQueryForm.submit1(class="btn btn-primary") }}
                                </div>
                            </form>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Job Name</th>
                                        <th scope="col">Job Level</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Company Country</th>
                                        <th scope="col">Company State</th>
                                        <th scope="col">Employee Country</th>
                                        <th scope="col">Employee State</th>
                                        <th scope="col">Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if jobBasedQuery is defined and jobBasedQuery|length > 0 %}
                                        {% for entry in jobBasedQuery %}
                                            <tr>
                                                <th scope="row">{{ entry.jobName }}</th>
                                                <td>{{ entry.jobLevel }}</td>
                                                <td>{{ entry.companyName }}</td>
                                                <td>{{ entry.companyCountry }}</td>
                                                <td>{{ entry.companyState }}</td>
                                                <td>{{ entry.userCountry }}</td>
                                                <td>{{ entry.userState }}</td>
                                                <td>${{ entry.salary }}</td>
                                            </tr>
                                        {% endfor%}
                                    {% else %}
                                        <th scope="row">...</th>
                                        <th>...</th>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                    {% endif %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>





                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Search all Salary info for specific Company</button>                     
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <form method="POST" action="" class="row">
                                {{ companyQueryForm.hidden_tag() }}
                                {% if companyQueryForm.errors %}
                                <div class="invalid-feedback">
                                    {% for error in companyQueryForm.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <label class="form-label">Search all Entries for a Company</label>
                                <div class="col-md-5 form-group">
                                    {% if companyQueryForm.name.errors %}
                                        {{ companyQueryForm.name(class="form-control form-control-lg is-invalid")}}
                                         <div class="invalid-feedback">
                                            {% for error in companyQueryForm.name.errors %}
                                            <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ companyQueryForm.name(class="form-control", placeholder="Company Name", style="margin-bottom:10px;") }}
                                    {% endif %}
                                </div>
                                <div class="col-md-3 form-group">
                                    {% if companyQueryForm.companyCountry.errors %}
                                        {{ companyQueryForm.companyCountry(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in companyQueryForm.companyCountry.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ companyQueryForm.companyCountry(class="form-control", placeholder="Company Country", style="margin-bottom:10px;") }}
                                    {% endif %}
                                </div>
                                <div class="col-md-3 form-group">
                                    {% if companyQueryForm.companyState.errors %}
                                        {{ companyQueryForm.companyState(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in companyQueryForm.state.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ companyQueryForm.companyState(class="form-control", placeholder="Company State", style="margin-bottom:10px;") }}
                                    {% endif %}
                                </div>
                                <div class="col-1">
                                    {{ companyQueryForm.submit2(class="btn btn-primary", style="margin-bottom:10px;") }}
                                </div>
                            </form>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Company Country</th>
                                        <th scope="col">Company State</th>
                                        <th scope="col">Employee Country</th>
                                        <th scope="col">Employee State</th>
                                        <th scope="col">Job Name</th>
                                        <th scope="col">Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if companyBasedQuery is defined and companyBasedQuery|length > 0 %}
                                        {% for entry in companyBasedQuery %}
                                            <tr>
                                                <th scope="row">{{ entry.companyName }}</th>
                                                <th>{{ entry.companyCountry }}</th>
                                                <th>{{ entry.companyState }}</th>
                                                <td>{{ entry.userCountry }}</td>
                                                <td>{{ entry.userState }}</td>
                                                <td>{{ entry.jobName }}</td>
                                                <td>${{ entry.salary }}</td>
                                            </tr>
                                        {% endfor%}
                                    {% else %}
                                        <th scope="row">...</th>
                                        <th>...</th>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td> 
                                    {% endif %}                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>






                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">Search all Salary info for specific Field</button>                     
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                        <form method="POST" action="" class="row">
                            {{ fieldQueryForm.hidden_tag() }}
                            {% if fieldQueryForm.errors %}
                            <div class="invalid-feedback">
                                {% for error in fieldQueryForm.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <label for="queryField" class="form-label">Search all Entries for a Field</label>
                            <div class="col-11 form-group">
                                {% if fieldQueryForm.fieldName.errors %}
                                    {{ fieldQueryForm.fieldName(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in fieldQueryForm.fieldName.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ fieldQueryForm.fieldName(class="form-control", placeholder="Ex. Technology...", style="margin-bottom:10px;") }}
                                {% endif %}
                            </div>
                            <div class="col-1 form-group">
                                {{ fieldQueryForm.submit3(class="btn btn-primary") }}
                            </div>
                        </form>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Field Name</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">Company Country</th>
                                    <th scope="col">Company State</th>
                                    <th scope="col">Job Name</th>
                                    <th scope="col">Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if fieldBasedQuery is defined and fieldBasedQuery|length > 0 %}
                                    {% for entry in fieldBasedQuery %}
                                        <tr>
                                            <th scope="row">{{ entry.fieldName }}</th>
                                            <td>{{ entry.companyName }}</td>
                                            <td>{{ entry.companyCountry }}</td>
                                            <td>{{ entry.companyState }}</td>
                                            <td>{{ entry.jobName }}</td>
                                            <td>${{ entry.salary }}</td>
                                        </tr>
                                    {% endfor%}
                                {% else %}
                                    <th scope="row">...</th>
                                    <th>...</th>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                {% endif %}                                  
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                




                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">Search all Salary info for specific Location</button>                     
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <form method="POST" action="" class="row">
                                {{ locationQueryForm.hidden_tag() }}
                                {% if locationQueryForm.errors %}
                                <div class="invalid-feedback">
                                    {% for error in locationQueryForm.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <label class="form-label">Search for a specific location</label>
                                <div class="col-md-4">

                                    {% if locationQueryForm.country.errors %}
                                        {{ locationQueryForm.country(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in locationQueryForm.country.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ locationQueryForm.country(class="form-control", placeholder="Ex. Employee Country...", style="margin-bottom:10px;") }}
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    {% if locationQueryForm.state.errors %}
                                        {{ locationQueryForm.state(class="form-control form-control-lg is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in locationQueryForm.state.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ locationQueryForm.state(class="form-control", placeholder="Ex. Employee State...", style="margin-bottom:10px;") }}
                                    {% endif %}
                                </div>
                                <div class="col-1 form-group">
                                    {{ locationQueryForm.submit4(class="btn btn-primary") }}
                                </div>
                            </form>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Employee Country</th>
                                        <th scope="col">Employee State</th>
                                        <th scope="col">Job Name</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Company Country</th>
                                        <th scope="col">Company State</th>
                                        <th scope="col">Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if locationBasedQuery is defined and locationBasedQuery|length > 0 %}
                                        {% for entry in locationBasedQuery %}
                                        <tr>
                                            <th scope="row">{{ entry.userCountry }}</th>
                                            <th>{{ entry.userState }}</th>
                                            <td>{{ entry.jobName }}</td>
                                            <td>{{ entry.companyName }}</td>
                                            <td>{{ entry.companyCountry }}</td>
                                            <td>{{ entry.companyState }}</td>
                                            <td>${{ entry.salary }}</td>
                                        </tr>
                                        {% endfor%}
                                    {% else %}
                                        <th scope="row">...</th>
                                        <th>...</th>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                    {% endif %}                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock content %}